@media only screen and (max-device-width: 900px) {
        /* .menu { width:600px; } */
}

:root {
        --branco-principal: #ffffff;
        --cinza-secundario: #c0c0c0;
        --botao-azul: #167bf7;
        --cor-de-fundo: #00030c;
        --fonte-principal: 'Inter';
}

body {
        margin: 4rem;
        background-color: var(--cor-de-fundo);
        color: var(--branco-principal);
        font-family: var(--fonte-principal);
        font-size: 1rem;
        font-weight: 400;
}

.container__img {
        padding: 1rem;
        border-radius: 1rem;
        opacity: 0.5;
        margin-left: 19rem;
        width: 50%;
}