:root {
        --branco-principal: #ffffff;
        --cinza-secundario: #c0c0c0;
        --botao-azul: #167bf7;
        --cor-de-fundo: #00030c;
        --fonte-principal: 'Inter';
}

body {
        background-color: var(--cor-de-fundo);
        color: var(--branco-principal);
        font-family: var(--fonte-principal);
        font-size: 1rem;
        font-weight: 400;
}

* {
        margin: 0;
        padding: 0;
}

.principal {
        background-image: url(../Images/Background.png);
        background-repeat: no-repeat;
        background-size: contain;
}

.container__titulo {
        font-size: 1.75rem;
        font-weight: 700;
}

.container {
        height: 100vh;
        display: grid;
        grid-template-columns: 33%;
}

.container__botao {
        background-color: var(--botao-azul);
        border-radius: 0.35rem;
        padding: 1em;
        color: var(--branco-principal);
        display: block;
        text-decoration: none;
        text-align: center;
}

.container__botao__2 {
        background-color: transparent;
        border: 2px solid var(--branco-principal);

}

.container__aviso {
        font-size: 0.75rem;
        color: var(--cinza-secundario);
        text-align: center;
}