@media only screen and (max-device-width: 900px) {
        /* .menu { width:600px; } */
}

:root {
        --branco-principal: #ffffff;
        --cinza-secundario: #c0c0c0;
        --botao-azul: #167bf7;
        --cor-de-fundo: #00030c;
        --fonte-principal: 'Inter';
}

body {
        margin: 4rem;
        background-color: var(--cor-de-fundo);
        color: var(--branco-principal);
        font-family: var(--fonte-principal);
        font-size: 1rem;
        font-weight: 400;
}

.container__img {
        border-radius: 10px;
        opacity: 0.5;
        margin-left: 21rem;
        width: 100vh;
}

.principal {
        display: flex;
        width: 100vh;
        padding: 10rem;
        margin: 0 10rem;
        background-repeat: no-repeat;
}

.container__titulo {
        text-align: center;
        font-size: 1.75rem;
        font-weight: 700;
}

.container__botao {
        margin-top: 2rem;
        background-color: var(--botao-azul);
        border-radius: 0.35rem;
        padding: 1rem;
        color: var(--branco-principal);
        display: block;
        text-decoration: none;
        text-align: center;
}

.container__botao__2 {

        background-color: transparent;
        border: 2px solid var(--branco-principal);

}

.container__aviso {
        padding: 2rem;
        font-size: 1rem;
        color: var(--cinza-secundario);
        text-align: center;
}